*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Tarrget;
    src: url("tarrget-italic.otf") format("opentype");
}


:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

section{
    text-align: center;
}

.board {  
    display: grid;
    width: 25rem;
    height: 25rem;
    margin: auto;
    margin-top: 2rem;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-template-columns: 7.7rem 7.7rem 7.7rem;
    grid-template-rows: 7.7rem 7.7rem 7.7rem;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }

  section h1{
    font-family: Tarrget;
    margin-top: 3rem;
    font-size: 55px;
  }

  .slot{
    background-color: white;
    font-size: 50px;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slot:first-child,
  .slot:nth-child(2),
  .slot:nth-child(3){
      border-top: none;
  }

  .slot:nth-child(3n + 1){
      border-left: none;
  }

  .slot:nth-child(3n + 3){
    border-right: none;
}


.slot:last-child,
.slot:nth-child(8),
.slot:nth-child(7){
    border-bottom: none;
}

.slot.x::before,
.slot.x::after
{
    content: '';
    width: calc( var(--mark-size)* .15);
    height: var(--mark-size);
    background-color: red;
    position: absolute;
}

.slot.x::before{
    transform: rotate(45deg);
}

.slot.x::after{
    transform: rotate(-45deg);
}










/* Mobile screen  */
@media screen and (max-width:375px){
    section h1{
        margin-top: 2rem;
        font-size: 35px;
      }


      .board {  
        display: grid;
        width: 16rem;
        height: 16rem;
        margin-top: 2rem;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: row;
      }

}